<app-navbar></app-navbar>
<main class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-info btn-sm"
            id="addDrugModalTrigger"
            type="button"
            data-toggle="modal"
            data-target="#addDrugModal"
          >
            Add Drug
          </button>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let drug of drugs | async">
              <h5>{{ drug.name }}</h5>
              <button
                class="btn btn-warning btn-sm mr-1"
                id="editDrugModalTrigger"
                type="button"
                data-toggle="modal"
                data-target="#editDrugModal"
                (click)="setDrugId(drug.id)"
              >
                Edit
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteDrug(drug.id)">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<div id="addDrugModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addDrugModalTitle">Add a new drug</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addDrugForm="ngForm" (ngSubmit)="addDrug()">
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Drug Name"
              name="name"
              required
              [(ngModel)]="drug.name"
            />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info btn-sm">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="editDrugModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editDrugModalTitle">Edit Drug</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editDrugForm="ngForm" (ngSubmit)="editDrug()">
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Drug Name"
              name="name"
              required
              [(ngModel)]="drug.name"
            />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info btn-sm">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
