<app-navbar></app-navbar>
<mat-tab-group mat-align-tabs="center" id="main">
    <mat-tab label="Prescriptions">
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
                <div>
                    <form class="example-container">
                        <mat-form-field>
                            <mat-select #appointment placeholder="Appointment" required>
                                <mat-option *ngFor="let appointment of appointments" [value]="appointment.id" >
                                    {{getPatient(appointment.patient)}} | {{appointment.date[0]}}/{{appointment.date[1]}}/{{appointment.date[2]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input #prescriptionNote matInput placeholder="Note" />

                        </mat-form-field>

                        <mat-form-field>
                        <mat-select #prescriptionDrugs placeholder="Drugs" multiple required >
                            <mat-option *ngFor="let drug of drugs" [value]="drug.id" (onSelectionChange)="change($event)">
                                {{drug.name}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary"
                                (click)="addPrescription(appointment.value, prescriptionNote.value);">
                            Add Prescription
                        </button>
                    </form>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="example-container filter">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="doctor">
                        <th mat-header-cell *matHeaderCellDef> Doctor</th>
                        <td mat-cell *matCellDef="let prescript"> {{getPatient(prescript.doctor)}}</td>
                    </ng-container>
                        <ng-container matColumnDef="patient">
                            <th mat-header-cell *matHeaderCellDef> Patient</th>
                            <td mat-cell *matCellDef="let prescript"> {{getPatient(prescript.patient)}}</td>
                        </ng-container>
                        <ng-container matColumnDef="note">
                            <th mat-header-cell *matHeaderCellDef> Note</th>
                            <td mat-cell *matCellDef="let prescript"> {{prescript.note}}</td>
                        </ng-container>
                        <ng-container matColumnDef="drugs">
                            <th mat-header-cell *matHeaderCellDef> Drugs</th>
                            <td mat-cell *matCellDef="let prescript">
                                <mat-select #drugsList >
                                    <mat-option *ngFor="let drug of prescript.drugs" [value]="drug.id" >
                                        {{getDrug(drug)}}
                                    </mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
