<form id = "signup-form">
    <div class="form-group">
        <label for="signup-name">Full Name</label>
        <input type="email" class="form-control" id="signup-name" placeholder="Enter your full name" />
    </div>
    <div class="form-group">
        <label for="signup-email">Email address</label>
        <input type="email" class="form-control" id="signup-email" placeholder="Enter your email address" />
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Enter a password" />
    </div>

    <div class="form-group">
        <label for="password-confirmation">Password Confirmation</label>
        <input type="password" class="form-control" id="password-confirmation" placeholder="Enter the password again"/>
    </div>

    <button type="submit" class="btn btn-primary">Create account</button>
</form>
    